
body {
	margin: 0;
	padding: 0;
	line-height: 1.7em;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	color: #000000;
    background: #e5e5e5 url(images/templatmeo_body_top.jpg) repeat-x top;
}
	a:link, a:visited {color:#000000; text-decoration: none;  } 	

a:active, a:hover { color: #c85d16;  }

h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; }

p { margin: 0px; padding: 5px; }
p a{color:#0066FF;}

img { margin: 0px; padding: 0px; border: none; }

.float_l {
	float: left;
}

.float_r {
	float: right;
}

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }
.cleaner_h20 { clear: both; width:100%; height: 20px; }
.cleaner_h30 { clear: both; width:100%; height: 30px; }
.cleaner_h40 { clear: both; width:100%; height: 40px; }

.more a {
	display: block;
	width: 82px;
	height: 23px;
	padding: 3px 0 0 0;
	background: url(images/templatemo_button.png) no-repeat;
	color: #777777;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}

.more a:hover {
	color: #c85d16;
}

#templatmeo_wrapper {
	width: 970px;
	margin: 0 auto;
	height:auto;
}

.ulhome ul
{
margin-top:20px;
font-weight:bold;
padding-left: 10px;
}

.ulhome ul li
{
padding-top:5px;
display:block;
font-weight:normal;

}
/* header */

#templatemo_header {
	clear: both;
	width: 910px;
	height: 100px;
	padding: 10px 30px;
	background: url(images/templatemo_header.jpg) no-repeat;
}

#templatemo_header  #site_title {
	float: left;
	width: 610px;
	padding-top: 10px;
}

#templatemo_header  #site_title h1 {
	margin: 0;
	padding: 0;
}

#templatemo_header  #site_title h1 a {
	margin: 0px;
	padding: 0px;
	font-size: 30px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}

#templatemo_header  #site_title h1  span {


    height:50px;
	font-size: 18px;
	color: #5d5b5b;
	font-weight: bold;
	letter-spacing: 2px;
}

#templatemo_header #header_right {
	float: right;
}

#header_right #header_button {
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
}

#header_button li {
	margin: 0px;
	padding: 0px;
	display: inline;
}

#header_button li a {
	float: left;
	display: block;
	width: 48px;
	height: 48px;
	margin-left: 10px;
}

#header_right form {
	margin: 10px 0 0 0;
	padding: 0;
}

#searchfield {
	height: 18px;
	width: 170px;
	padding: 6px 5px 4px 5px;
	margin: 0 5px 0 0;
	font-size: 12px;
	font-variant: normal;
	line-height: normal;
}

#searchbutton {
 	height: 30px;
	width: 72px;
	margin: 0px;
	padding: 6px 0 0 0;
	cursor: pointer;
	font-size: 12px;
	text-align: center;
	vertical-align: bottom;
	white-space: pre;
	color: #ffffff;
	background: url(images/search_button.jpg); 
	border: none;
}

/* end of header */

/* banner */

#templatemo_banner {
	width: 970px;
	height: 280px;
	padding: 10px 0;
}

#templatemo_banner #banner_box ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#templatemo_banner #banner_box li {
	margin: 0;
	padding: 0;
	display: inline;
}

#templatemo_banner #banner_box li a {
	position: relative;
	display: block;
	float: left;
	width: 230px;
	height: 280px;
	margin-left: 10px;
}

#templatemo_banner #banner_box li span {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 230px;
	height: 217px;
}

#templatemo_banner #banner_box li a span:hover {
	background: url(images/templatemo_banner_hover.png) no-repeat;
}

#templatemo_banner #banner_box li .current {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 230px;
	height: 217px;
	background: url(images/templatemo_banner_hover.png) no-repeat;
}
/* end of banner */

/* menu */


/*Dropdown CSS Start*/


#templatemo_ddl_menu ul {

	padding: 15px 0 0 15px;
	
  text-align: left;
  display: inline;
  margin: 0;
 
  list-style: none;
 }
#templatemo_ddl_menu ul li {
  font: bold 16px Tahoma;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  background: none;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
#templatemo_ddl_menu ul li:hover {
  background: #8D4210;
  color: #fff;
   
}

#templatemo_ddl_menu ul li ul li a {

  color: #ffffff;
}

#templatemo_ddl_menu ul li ul li a:hover {
color: #8D4210;
}

#templatemo_ddl_menu ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  z-index:100;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
  
}
#templatemo_ddl_menu ul li ul li { 
  background: #8D4210; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
  font: 14px Tahoma;
  Padding: 10px;
}
#templatemo_ddl_menu ul li ul li:hover { background: #ffffff; color:#8D4210; }
#templatemo_ddl_menu ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
  color:#8D4210;
}


#templatemo_ddl_menu ul li a:hover {
	color: #ffffff;
  
}

/*Dropdown CSS Ends*/



/* end of menu */

.templatemo_box {
	margin-bottom: 10px;
	background: url(images/templatemo_box_body.jpg) repeat-y right;
}

.templatemo_box .body {
	padding: 5px 5px 5px 15px;
	text-align:left;
	word-spacing:2px;
}

.templatemo_box h2 {
	position: relative;
	height: 25px;
	margin: 0;
	padding: 8px 15px;
	font-size: 14px;
	color: #8D4210;
	font-weight: bold;
	background: url(images/templatemo_box_tr.jpg) no-repeat top right; 
}

.templatemo_box h2 span {
	position: absolute;
	width: 10px;
	height: 35px;
	top: 0;
	left: 0;
	background: url(images/templatemo_box_tl.jpg);
}

.templatemo_box .box_bottom {
	position: relative;
	height: 12px;
	background: url(images/templatemo_box_br.jpg) top right;
}

.templatemo_box .box_bottom span {
	position: absolute;
	width: 10px;
	height: 12px;
	top: 0;
	left: 0;
	background: url(images/templatemo_box_bl.jpg);
}

.side_menu {
	list-style: none;
	padding: 0px;
	margin: 0 0 0 0;
}

.side_menu li {
	padding: 0;
	margin: 5px 0;
}

.side_menu li a {
	display: block;
	color: #000000;
	padding: 0px 15px;
	font-weight: normal;
	text-decoration: none;
	background: url(images/templatemo_menu_list.png) left center no-repeat;
}

.side_menu li a:hover {
	color: #c85d16;
}

/* content*/

#templatemo_content_wrapper {
	clear: both;
	padding: 10px;
	background:#e5e5e5;
}

#templatemo_left_sidebar {
	float: left;
	margin-right: 10px;
	width: 230px;
}

#templatemo_right_sidebar {
	float: right;
	width: 230px;
}

#templatemo_content {
	float: left;
	width: 470px;
}
#templatemo_content_half{
	float: left;
	width: 700px;
}
#templatemo_content_full{
	margin:5px 5px 5px 5px;
	width: auto;
	padding:2px 2px 2px 2px;
}
.news_image {
	float: left;
	margin: 3px 15px 0 0;
	border: 5px solid #e5e5e5;
}

.news_box {
	clear: both;
	margin-bottom:20px;
}
	
.news_box h3{
	font-size: 14px;
	margin: 0 0 10px 0;
}

.sidebar_box {
	margin-bottom: 10px;
}

 #fieldset {
      position: relative;
	
	  font-family:Verdana, Arial, Helvetica, sans-serif;
	  
    }

 #fieldset input {
        position: absolute;
        left: 0;
        right: 0;
		size: 20px;


		}

/* footer */

#templatemo_footer_wrapper {

}

#templatemo_footer {
	width: 950px;
	padding: 30px 10px;
	margin: 0 auto;
	text-align: center;
	color: #666666;
}

#templatemo_footer a {
	color: #666666;
	font-weight: normal;
}

#templatemo_footer a:hover {
	color: #333333;
	font-weight: normal;
}


#templatemo_footer a:hover {
	text-decoration: none;
}

#templatemo_footer .footer_menu {
	margin: 0 0 10px 0;
	padding: 0px;
	list-style: none;
}

.footer_menu li {
	margin: 0px;
	padding: 0 20px;
	display: inline;
	border-right: 1px solid #666666;
}

.footer_menu .last_menu {
	border: none;
}

/* end of footer */

/*table layout*/

.tablebind
 {
 font-size:13px;
 color:#333333;


 border-width: 2px;
 border-color: #8D4210;
 border-collapse: collapse;
margin: auto;
margin-top: 15px;
 }


.tablebind th 
{

font-size:16px;
color:#ffffff;

background-color:#8D4210;
border-width: 1px;padding: 8px;
border-style: solid;border-color: #ffffff;
text-align:center;
}


.tablebind tr 
{
background-color:#FFFFFF;
}


.tablebind td 
{
font-size:13px;
 width:absolute;

border-width: 1px;padding: 8px;
border-style: solid;border-color: #8D4210;
text-align:left;
}
.tablebind tr:hover 
{
background-color:#DFFFFF;
}

/*tablebindsdi*/

.tablebindsdi
 {
 font-size:13px;
 color:#333333;

margin: 1px;
margin-top: 15px;
 }


.tablebindsdi th 
{

font-size:14px;
font-weight:bold;
color:#8D4210;
text-align:left;
}


.tablebindsdi tr 
{
font-weight:bold;
}


.tablebindsdi td 
{
font-size:12px;
 width:absolute;
color:#8D4210;

text-align:left;
}
.tablebindsdi th.tdcol
{
font-color:#333333;
}
#wrap_text {
    white-space: nowrap; 
    width: 55em; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
#admin
{	
margin-top:-10px;
margin-left:340px;
}
#exit 
{
	
	margin-top:-45px;
	margin-left:450px;
}

#goto
{
	margin-top:-20px;
	margin-left:50px;
}
#save
{
	margin-top:-20px;
	margin-left:280px;
}
#link
{
	margin-top:-20px;
	margin-right:20px;
	margin-left:620px;
}
#exit2
{
	margin-top:-35px;
	margin-left:450px;
}
#save1
{
	margin-top:-20px;
	margin-left:450px;
}
#exit3
{
	margin-top:30px;
	margin-left:400px;
	
}
INPUT#year
{
	
	font-size:25px;
}
INPUT#doc
{
	
	font-size:18px;
}
textarea#abstract
{
	font-color:003300;
	font-size:20px;
	font-family:arial;
}
textarea#keywords
{
	font-color:003300;
	font-size:20px;
	font-family:arial;
}
#rows
{
	margin-left:-550px;
	margin-top:10px;
	
}
#rows5
{
	margin-left:-510px;
	margin-top:10px;
}
#exit5 
{
	
	margin-top:-25px;
	margin-left:450px;
}
#goto5
{
	margin-top:-20px;
	margin-left:50px;
}
#save5
{
	margin-top:-20px;
	margin-left:280px;
}
#link5
{
	margin-top:-20px;
	margin-right:20px;
	margin-left:620px;
}
#exit25
{
	margin-top:-25px;
	margin-left:450px;
}
#admin5
{	
margin-top:-10px;
margin-left:340px;
}
#rows7
{
	margin-top:20px;
	margin-left:50px;
}






